@use 'tokens' as *;
@use 'resource-bar' as *;

:host {
    --c-base: var(--fg-blood);
    --c-bright: var(--fg-blood-bright);
    --c-shadow: #5a1410;
    --gc-bar-height: 12px;
    @include resource-bar;
}
