@use 'tokens' as *;
@use 'resource-bar' as *;

:host {
    --c-base: var(--fg-mana);
    --c-bright: var(--fg-mana-bright);
    --c-shadow: #1a2e6a;
    --gc-bar-height: 10px;
    @include resource-bar;
}
