.component.component-card {
    box-shadow: none;
}

.component-card {
    &:hover {
        box-shadow: none;
        transform: none;
    }

    .card-body {
        padding: var(--tc-space-3);
    }

    @media (min-width: 576px) {
        .card-body {
            padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        }
    }
}