.component.component-card {
    box-shadow: none;
}

.component-card {
    &:hover {
        box-shadow: none;
        transform: none;
    }

    @media (max-width: 575px) {
        .card-body {
            padding: var(--tc-space-3);
        }
    }
}