.component.component-editable-text {
	width: 100%;
}

.component-editable-text {
	> input {
		border: none;
		background: none;
		width: 100%;
		display: block;
		color: var(--tc-text);
		font-size: 0.875rem;
		padding: var(--tc-space-1) var(--tc-space-1);
		transition: background-color 0.15s ease;
		outline: none;
	}
}
